################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project0/.vs/project0/v15
/project0/project0/Debug
/project1/.vs/project1/v15
/project2/.vs/project2/v15
/project2/Debug
/project2/project2/Debug/project2.tlog
/project2/project2/Debug
